h2.sub-header New App
    form(action='/app/add', method="post")#app-add-form.well.span4
      div.form-group
        label(for='appname') Name
        input#inputAppName(type="text", placeholder="appname", name="appname").form-control.required
      button(type="submit")#btn-app-add.btn.btn-default
        i.icon-lock.icon-white
        | Add
