button#btn-add-app.btn.btn-primary.btn-lg(role='button') Add a new app &raquo;
h2.sub-header App List
.table-responsive
  table.table.table-striped
    thead
      tr
        th Name
        th Version
        th Price
        th Installed
        th Rank
        th Status
        th Delete
    tbody
      each app, i in apps
        tr
          td
            a(href="/app?id=#{app._id}")=  app.appname
          if app.manifest
            td= app.manifest.versionCode + "(" + app.manifest.versionName + ")"
          else
            td -
          td Free
          td 2,300
          td 30
          td deployed
          td
            a(href="/app/del?id=#{app._id}") Delete
