h1.page-header Dashboard
.row.placeholders
  .col-xs-6.col-sm-3.placeholder
    img.img-responsive(data-src='holder.js/200x200/auto/sky', alt='Generic placeholder thumbnail')
    h4 Label
    span.text-muted Something else
  .col-xs-6.col-sm-3.placeholder
    img.img-responsive(data-src='holder.js/200x200/auto/vine', alt='Generic placeholder thumbnail')
    h4 Label
    span.text-muted Something else
  .col-xs-6.col-sm-3.placeholder
    img.img-responsive(data-src='holder.js/200x200/auto/sky', alt='Generic placeholder thumbnail')
    h4 Label
    span.text-muted Something else
  .col-xs-6.col-sm-3.placeholder
    img.img-responsive(data-src='holder.js/200x200/auto/vine', alt='Generic placeholder thumbnail')
    h4 Label
    span.text-muted Something else
