ul.nav.nav-sidebar
  li.active
    a(href='#') Overview
  li
    a(href='#') Reports
  li
    a(href='#') Analytics
  li
    a(href='#') Setting
ul.nav.nav-sidebar
  li
    a(href='') QA
  li
    a(href='') Announcement
