ul.nav.nav-sidebar
  li.active
    a(href='/app/apps') Apps
  li
    a(href='/report/') Reports
  li
    a(href='/analytics/') Analytics
  li
    a(href='/setting/') Setting
ul.nav.nav-sidebar
  li
    a(href='/qa/') QA
  li
    a(href='/announcement/') Announcement
